{{#>layout title="new template" store="createTemplate"}}
<div x-cloak x-data="$store.createTemplate">
  <a href="/templates">back to templates</a>
  <h1>new template</h1>
  <form @submit.prevent="handleCreate" novalidate class="needs-validation">
    <div class="row">
      <div class="col-12" x-show="message && message !== ''">
        <p x-text="message" class="text-danger fw-bold"></p>
      </div>
      <div class="my-1 col-lg-6">
        <input
          type="text"
          x-model="name"
          placeholder="name"
          class="form-control"
          required
        />
        <div class="invalid-feedback">name is required</div>
      </div>
      <div class="col-lg-6">
        <div class="input-group my-1">
          <input
            type="text"
            x-model="newField.name"
            placeholder="add a field"
            class="form-control w-50"
          />
          <select class="form-select" x-model="newField.type">
            <template x-for="option in fieldTypeOptions">
              <option x-text="option" :value="option"></option>
            </template>
          </select>
          <button
            @click.prevent="handleAddField"
            class="btn btn-outline-primary"
            type="button"
          >
            add
          </button>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" :disabled="loading" class="btn btn-primary">
          <span
            x-show="loading"
            class="spinner-border spinner-border-sm"
          ></span>
          <span x-text="loading ? 'saving...' : 'save'"></span>
        </button>
      </div>
      <div class="my-1 col-sm-6">
        <template x-for="(field, f) in fields">
          <div>
            <span x-text="field.name"></span> (<span x-text="field.type"></span
            >)
            <button type="button" @click.prevent="() => handleRemoveField(f)">
              remove
            </button>
          </div>
        </template>
      </div>
    </div>
  </form>
</div>
{{/layout}}
<script>
  (function () {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        'submit',
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>
