{{#>layout title="new template" store="createTemplate"}}
<div x-cloak x-data="$store.createTemplate">
  <a href="/templates">back to templates</a>
  <h1>new template</h1>
  <form @submit.prevent="handleCreate">
    <div><input type="text" x-model="name" placeholder="name" /></div>
    <div>
      <template x-for="(field, f) in fields">
        <div>
          <span x-text="field.name"></span> (<span x-text="field.type"></span>)
          <button @click.prevent="() => handleRemoveField(f)">remove</button>
        </div>
      </template>
    </div>
    <div>
      <input type="text" x-model="newField.name" placeholder="add a field" />
      <select x-model="newField.type">
        <template x-for="option in fieldTypeOptions">
          <option x-text="option"></option>
        </template>
      </select>
      <button @click.prevent="handleAddField">+</button>
    </div>
    <button type="submit" :disabled="loading">save</button>
  </form>
</div>
{{/layout}}
