{{#>layout title="home" store="home"}}

<div x-cloak x-data="$store.home">
  <h1 class="display-1">home</h1>
  <div class="row">
    <div class="col-12">
      <h5 class="display-5">ideas</h5>
    </div>
    <div class="col-12">
      <div x-show="ideas.length === 0">
        <h4 class="fs-4 text-muted">no ideas yet</h4>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <template x-for="idea in ideas">
          <div class="col">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title" x-text="idea.name"></h5>
                <h6
                  class="card-subtitle mb-2 text-muted mt-auto"
                  x-text="idea.template?.name ?? 'no template'"
                ></h6>
              </div>
              <div class="card-footer">
                <a :href="`/ideas/view?ideaId=${idea.id}`" class="card-link"
                  >view</a
                >
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="col-12 mt-3">
      <a class="btn btn-primary" href="/ideas" x-show="ideas.length > 0"
        >view all <i class="bi bi-arrow-right-short"></i
      ></a>
      <a
        class="btn btn-primary"
        href="/ideas/create"
        x-show="ideas.length === 0"
        >create one <i class="bi bi-plus"></i
      ></a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <h5 class="display-5">templates</h5>
    </div>
    <div class="col-12">
      <div x-show="templates.length === 0">
        <h4 class="fs-4 text-muted">no templates yet</h4>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <template x-for="template in templates">
          <div class="col">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title" x-text="template.name"></h5>
                <h6
                  class="card-subtitle mb-2 text-muted mt-auto"
                  x-text="`${template.fields.length} field(s)`"
                ></h6>
              </div>
              <div class="card-footer">
                <a
                  :href="`/templates/view?templateId=${template.id}`"
                  class="card-link"
                  >view</a
                >
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="col-12 mt-3">
      <a class="btn btn-primary" href="/templates" x-show="templates.length > 0"
        >view all <i class="bi bi-arrow-right-short"></i
      ></a>
      <a
        class="btn btn-primary"
        href="/templates/create"
        x-show="templates.length === 0"
        >create one <i class="bi bi-plus"></i
      ></a>
    </div>
  </div>
</div>
{{/layout}}
