{{#>layout title="view idea" store="updateIdea"}}
<div x-cloak x-data="$store.updateIdea">
  <h1 class="display-1">view idea</h1>
  <a class="btn btn-outline-primary" href="/ideas">back to ideas</a>
  <form @submit.prevent="handleUpdate" novalidate class="needs-validation mt-3">
    <div class="row">
      <div class="col-12" x-show="message && message !== ''">
        <p x-text="message" class="text-danger fw-bold"></p>
      </div>
      <div class="col-lg-6 my-1">
        <label class="form-label">name</label>
        <input class="form-control" x-model="idea.name" required type="text" />
        <div class="invalid-feedback">name is required</div>
      </div>
      <div class="my-1 col-lg-6">
        <label class="form-label">template</label>
        <input
          class="form-control"
          :value="idea.template.name"
          type="text"
          disabled
          readonly
        />
      </div>
      <template
        x-show="idea.fields.length > 0"
        x-for="(field, f) in idea.fields"
        :key="field.name"
      >
        <div class="col-12 my-1">
          <label class="form-label" x-text="field.name"></label>
          <template x-if="field.type === 'string'">
            <textarea
              class="form-control"
              x-model="field.value"
              rows="3"
            ></textarea>
          </template>
          <template x-if="field.type === 'boolean'"
            ><div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  x-model="field.value"
                  :value="true"
                  :name="`${f}-checkbox-true`"
                  :id="`${f}-checkbox-true`"
                />
                <label class="form-check-label" :for="`${f}-checkbox-true`"
                  >yes</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  x-model="field.value"
                  :value="false"
                  :name="`${f}-checkbox-false`"
                  :id="`${f}-checkbox-false`"
                />
                <label class="form-check-label" :for="`${f}-checkbox-false`"
                  >no</label
                >
              </div>
            </div></template
          >
          <template x-if="field.type === 'number'"
            ><input class="form-control" type="number" x-model="field.value"
          /></template>
        </div>
      </template>
      <div class="col-12 my-1">
        <button type="submit" :disabled="loading" class="btn btn-primary">
          <span
            x-show="loading"
            class="spinner-border spinner-border-sm"
          ></span>
          <span x-text="loading ? 'saving...' : 'save'"></span></button
        ><button
          type="button"
          @click.prevent="handleDelete"
          :disabled="loading"
          class="btn btn-danger ms-2"
        >
          <span
            x-show="loading"
            class="spinner-border spinner-border-sm"
          ></span>
          <span x-text="loading ? 'deleting...' : 'delete'"></span>
        </button>
      </div>
    </div>
  </form>
</div>
{{/layout}}
<script>
  (function () {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        'submit',
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>
